<div class="container">
<h1 class="py-5">Welcome to your Blog App</h1>
<% @users.each do |user| %>
  <div class="header-wrapper"> 
    <div class="image-container">
      <%=image_tag(image_url(user), alt: "User#{user.id} photo") %>
    </div>
    <%=  link_to user_path(user.id), {class: "user_container"}, {id: "user#{user.id}"} do%>
      <h2><%= user.name %></h2>
      <p>Number of posts: <%= post_counter(user) %></p>
    <%end%>
  </div>
<%end%>
</div>