<h2>Add a new post here. </h2>
<%= simple_form_for @post do |f| %>
<div class="card bg-transparent">
  <div class="card-body">

    <div class="mb-3">
      <%= f.input :title, class: "form-control", placeholder: "Post title" %>
    </div>

    <div class="mb-3">
      <%= f.input :text, as: :text, class: "form-control", placeholder: "Enter your content here ..."%>
    </div>

    <%= f.button :submit, class: "btn btn-primary" %>x

  </div>
</div>
<% end %>